<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <title>Title</title>
        
    </head>
    <body>
        <script>
            async function scrapeList(){
                console.log("aslfdk;ja;kdslfhladsk;fjk")
                listurl = document.getElementById("7").value
                try{
                    const response = await fetch('/scraping', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({listurl})
                    });
                } catch (error){
                    console.error("Error in sendScrapeData:", error);
                }
            }
        </script>
        <div id="element">

        </div>
        <div class="main">
            <div class="sidebar">
                <input id="7" type ="text">
                <button onclick="scrapeList()">scrape</button>
            </div>
            <div id="2" class="center">

                {% block content %}{% endblock %}

                
            </div>
        </div>
        
    </body>
</html>
